/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$blue: #061928;
$purple: #A97DA2; 
$skyblue: #F5FFFF;
