/* =============
    Header
============= */

header {
    position: fixed;
    // background-color: white;
    width: 100%;
    z-index: 100;

    div{
        display: grid;
        grid-template-columns: 20% auto;
        padding: 8px 10px;
        margin-top: 10px;

        aside {
            a{
                display: inline-block;
            }
        }
    }
}