/* =============
    Header
============= */

header {
    position: fixed;
    border: 1px solid red;
    background-color: white;
    width: 100%;
    z-index: 100;
    
    div{
        display: grid;
        grid-template-columns: 20% auto;
        padding: 8px 10px;

        aside {
            a{
                display: inline-block;
            }
        }
    }
}