/* =============
    Navigation
============= */

nav {
    height: 100%;
    ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        
        li {
            margin-left: 4vw;
            a {
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: rem-calc(20);
                font-weight: 300;
            }
        }
    }
}